### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = 'purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#see if there is any missing data
purchase_data_df.count()
total_players = len(purchase_data_df["SN"].unique())
total_players_amount_df = pd.DataFrame({"Total Players": total_players}, index=[0])
total_players_amount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#unique item, average price, total purchase value, total rev
#finding unique item count
uni_items = len(purchase_data_df["Item Name"].unique())

#average price
avpr = purchase_data_df["Price"].mean()

#total rev
trev = purchase_data_df["Price"].sum()

#total purchase value
tpv = [len(purchase_data_df["Purchase ID"].value_counts())]

summary_df = pd.DataFrame({"Unique Items":uni_items, "Average Price":avpr, "Number of Purchased":tpv, "Total Revenue":trev})
#formatting, thanks Google
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Unique Items Average Price  Number of Purchased Total Revenue
0           179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#finding percentage of genders, googled round function
genders = purchase_data_df.groupby('Gender')["SN"].count()
percent = round(genders/total_players*100,2).map("{:,.2f}%".format)
percent
gendersum = pd.DataFrame({"Total Count": genders, "Percentage of Players": percent})
gendersum

                       Total Count Percentage of Players
Gender
Female                         113                19.62%
Male                           652               113.19%
Other / Non-Disclosed           15                 2.60%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#purchase by gender
genderbuys = purchase_data_df.groupby('Gender')["Price"].count()
genprice = purchase_data_df.groupby('Gender')["Price"].sum()
genavg = round(genprice/genderbuys,2).map("${:,.2f}".format)

#purchase summary
purchases = pd.DataFrame({"Purchase Count": genderbuys, "Total Purchase Value": genprice,
                          "Average Purchase Price": genavg,
                          })
purchases

,Purchase Count,Total Purchase Value,Average Purchase Price
Gender,,,
Female,113,361.94,$3.20
Male,652,1967.64,$3.02
Other / Non-Disclosed,15,50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
#*Charlie Sheen voice* "binning"
binnybins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
#labels
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#agebins = purchase_data_df.loc[:,"Age"]
purchase_data_df["Bins"]= pd.cut(purchase_data_df["Age"], binnybins, labels=categories)
#table creation
binning = purchase_data_df.DataFrame()
binning['Total Count'] = purchase_data_df.groupby(['Age Group'])['Age'].count()
binning['% of Players']=(purchase_data_df.groupby(['Age Group'])['Age'].count() * 100)/574
binning['% of Players']=binning['% of Players'].map("{:,.2f}%".format)
binning

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame