### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file = 'purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#see if there is any missing data
purchase_data_df.count()
total_players = len(purchase_data_df["SN"].unique())
total_players_amount_df = pd.DataFrame({"Total Players": total_players}, index=[0])
total_players_amount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#unique item, average price, total purchase value, total rev
#finding unique item count
uni_items = len(purchase_data_df["Item Name"].unique())

#average price
avpr = purchase_data_df["Price"].mean()

#total rev
trev = purchase_data_df["Price"].sum()

#total purchase value
tpv = [len(purchase_data_df["Purchase ID"].value_counts())]

summary_df = pd.DataFrame({"Unique Items":uni_items, "Average Price":avpr, "Number of Purchased":tpv, "Total Revenue":trev})
#formatting, thanks Google
summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Unique Items Average Price  Number of Purchased Total Revenue
0           179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#finding percentage of genders, googled round function
genders = purchase_data_df.groupby('Gender')["SN"].count()
percent = round(genders/total_players*100,2).map("{:,.2f}%".format)
percent
gendersum = pd.DataFrame({"Total Count": genders, "Percentage of Players": percent})
gendersum

                       Total Count Percentage of Players
Gender
Female                         113                19.62%
Male                           652               113.19%
Other / Non-Disclosed           15                 2.60%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#purchase by gender
genderbuys = purchase_data_df.groupby('Gender')["Price"].count()
genprice = purchase_data_df.groupby('Gender')["Price"].sum()
genavg = round(genprice/genderbuys,2).map("${:,.2f}".format)

#purchase summary
purchases = pd.DataFrame({"Purchase Count": genderbuys, "Total Purchase Value": genprice,
                          "Average Purchase Price": genavg,
                          })
purchases

,Purchase Count,Total Purchase Value,Average Purchase Price
Gender,,,
Female,113,361.94,$3.20
Male,652,1967.64,$3.02
Other / Non-Disclosed,15,50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
#*Charlie Sheen voice* "binning"
binnybins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
#labels
categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#thank you bcs for creating the new column
purchase_data_df["Bins"]= pd.cut(purchase_data_df["Age"], binnybins, labels=categories)

#creating table
binning = pd.DataFrame()
binning['Total Count'] = purchase_data_df.groupby(['Bins'])['Age'].count()
binning['Percent of Players']=(purchase_data_df.groupby(['Bins'])['Age'].count() * 100)/574
binning['Percent of Players']=binning['Percent of Players'].map("{:,.2f}%".format)

binning

       Total Count Percent of Players
Bins
<10             23              4.01%
10-14           28              4.88%
15-19          136             23.69%
20-24          365             63.59%
25-29          101             17.60%
30-34           73             12.72%
35-39           41              7.14%
40+             13              2.26%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [29]:
#didnt we just make a bin by age?
purchase_data_df["Bins"]= pd.cut(purchase_data_df["Age"], binnybins, labels=categories)
#math
purchase_count = purchase_data_df.groupby(["Bins"])["Price"].count()
purchase_price = purchase_data_df.groupby(["Bins"])["Price"].mean()
purchase_value = purchase_data_df.groupby(["Bins"])["Price"].sum()
avgerage_purchase_total = purchase_value / binning["Total Count"]

#summary
Purchasing_Analysis_Age = pd.DataFrame({"Purchase Count": purchase_count,
                                            "Average Purchase Price": purchase_price,
                                            "Total Purchase Value": purchase_value,
                                            "Avg Total Purchase Per Person": avgerage_purchase_total})

Purchasing_Analysis_Age["Average Purchase Price"] = Purchasing_Analysis_Age["Average Purchase Price"].map("${:.2f}".format)
Purchasing_Analysis_Age["Total Purchase Value"] = Purchasing_Analysis_Age["Total Purchase Value"].map("${:.2f}".format)
Purchasing_Analysis_Age["Avg Total Purchase Per Person"] = Purchasing_Analysis_Age["Avg Total Purchase Per Person"].map("${:.2f}".format)

Purchasing_Analysis_Age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Bins,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
#need to make a new groupby, groupby SN to find data on each player
big_spenders = purchase_data_df.groupby("SN")
#max purchase count
made_it_rain = big_spenders["Purchase ID"].count()
#average purchase price
average_price = big_spenders["Price"].mean()
#total purhcase value
tpv = big_spenders["Price"].sum()

big_spend_sum = pd.DataFrame({"Purchase Count": made_it_rain, 
                             "Average Purchase Price": average_price,
                             "Total Purchase Value": tpv})
#formatting
big_spend_sum["Average Purchase Price"] = big_spend_sum["Average Purchase Price"].map("${:.2f}".format)
big_spend_sum["Total Purchase Value"] = big_spend_sum["Total Purchase Value"].map("${:.2f}".format)
#thank you pandas.pydata for sort_values
big_spend_sum.sort_values(["Total Purchase Value"],ascending = False)
big_spend_sum.head(5)

              Purchase Count Average Purchase Price Total Purchase Value
SN
Adairialis76               1                  $2.28                $2.28
Adastirin33                1                  $4.48                $4.48
Aeda94                     1                  $4.91                $4.91
Aela59                     1                  $4.32                $4.32
Aelaria33                  1                  $1.79                $1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
#columns
purchase_data_df.columns
#groupby item id and item name
most_popular = purchase_data_df.groupby(["Item ID", "Item Name"])
#popular math
purchase_count = most_popular["Price"].count()
purchase_value = most_popular["Price"].sum()
tpv = purchase_value/purchase_count
#DataFrame
pop_items = pd.DataFrame({"Purchase Count" : purchase_count,
                                  "Item Price": tpv,
                                  "Total Purchase Value": purchase_value})
#formatting
pop_items["Item Price"] = pop_items["Item Price"].map("${:,.2f}".format)
pop_items["Total Purchase Value"] = pop_items["Total Purchase Value"].map("${:,.2f}".format)

pop_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,$1.28,$5.12
1,Crucifer,4,$2.94,$11.77
2,Verdict,6,$2.48,$14.88
3,Phantomlight,6,$2.49,$14.94
4,Bloodlord's Fetish,5,$1.70,$8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
181,Reaper's Toll,5,$1.66,$8.30
182,Toothpick,3,$4.03,$12.09
183,Dragon's Greatsword,3,$1.09,$3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame